# n8n config
N8N_PROTOCOL=
N8N_HOST=
N8N_ENCRYPTION_KEY=
N8N_RUNNERS_ENABLED=
NODE_ENV=production

GENERIC_TIMEZONE=America/Sao_Paulo

# Postgres config
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_NON_ROOT_USER=
POSTGRES_NON_ROOT_PASSWORD=


NGROK_AUTHTOKEN=
NGROK_DOMAIN=